@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&display=swap');

html {
  background-color: #121212;
  color: #F2F2F2;
}

body {
  text-align: center;
  font-family: 'Chivo Mono', monospace;
  margin: 0;
  /*padding: 1em;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header {
  width: 80%;
  margin: auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.img-container {
  height: 500px;
  position: relative;
  
}

.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code {
  background-color: #010101;
  padding: 1em;
  border-radius: .5rem;
}

/* Styles for desktop */
.image-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Styles for smartphones */
@media (max-width: 600px) {
  .image-container {
    max-width: 100%;
    padding: 0 20px;
  }

img {
    max-width: 100%;
  }
}
