@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&display=swap');

html {
  background-color: #121212;
  color: #F2F2F2;
}

body {
  text-align: center;
  font-family: 'Chivo Mono', monospace;
  margin: .5rem auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header {
  width: 80%;
  margin: auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.img-container {
  height: 500px;
  position: relative;
  
}

.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code {
  background-color: #010101;
  padding: 1em;
  border-radius: .5rem;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}