:root {
    --white: #ffffff;
    --white-primary: #fafafa;
    --gray-primary: #ededed;
    --gray-secondary: #F6F7F5;
    --black-primary: #121212;
    --black-secondary: #1c1c1c;
    --cyan-primary: #ffde59;
    --blue-primary: #ffb514f0;
    --blue-secondary: #ffbe31;
}

.nav {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: .3em 0;
    box-shadow: 1px 3px 5.5px -4px rgba(0,0,0,0.75);
    z-index: 99;
}

.nav__container {
    position: relative;
    width: 85%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    padding: 0 1em;
    gap: 1em;
    /* border: 2px red solid; */
    background: var(--white);
    /* border: 2px red solid; */
}

.nav__logo {
    color: var(--black-primary);
    /* border: 2px red solid; */
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    text-align: center;
}

.nav__logo--draw {
    font-weight: 600;
    color: var(--blue-secondary);
}

.nav__list {
    /* border: 2px red solid; */
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.nav__item {
    padding: 0 .5em;
    font-size: .9rem;
}

.nav__link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--black-primary);
    transition: .5s;
}

.nav__link:hover {
    color: var(--cyan-primary);
    transition: .5s;
}

.nav__link--active {
    font-weight: 400;
}

.nav__btn {
    text-align: center;
    background-color: var(--blue-secondary);
    color: var(--white);
    padding: 1em;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 2%;
    transition: .5s;
    width: 150px;
}

.nav__btn:hover {
    background-color: var(--blue-primary);
    transition: .5s;
}

#nav__menu {
    display: none;
}

@media (max-width: 920px) {
    .nav__container {
        width: 100%;
    }
}

@media (max-width: 780px) {
    #nav__menu {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    
    #menu__img {
        width: 40px;
        height: 40px;
    }

    
    .nav__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        /* border: 2px red solid; */
        height: 0px;
        overflow: hidden;
        transition: .3s;

    }

    .nav__item--msc {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav__list--open {
        height: 250px;
        transition: .3s;
    }
}

