<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
<header class="header">
    <%- include("components/navbar.ejs")%>
</header>
    <div class="center">
        <h2>Agregar integrante</h2>
        <form action="/add_family_member/<%= homeId %>" method="POST">
            <label for="i_name">Nombres: <input type="text" name="i_name" id="i_name"></label>
            <label for="i_last_name">Apellidos: <input type="text" name="i_last_name" id="i_last_name"></label>
            <label for="i_rut">Rut: <input type="text" name="i_rut" id="i_rut"></label>
            <label for="i_birthdate">Fecha de nacimiento: <input type="date" name="i_birthdate" id="i_birthdate"></label>
            <label for="i_age">Edad: <input type="text" name="i_age" id="i_age"></label>
            <label for="i_kinship">Parentesco: <input type="text" name="i_kinship" id="i_kinship"></label>
            <label for="i_gender">Sexo: <input type="text" name="i_gender" id="i_gender"></label>
            <label for="i_marital_status">Estado civil: <input type="text" name="i_marital_status" id="i_marital_status"></label>
            <label for="i_ed_level">Nivel educacional: <input type="text" name="i_ed_level" id="i_ed_level"></label>
            <label for="i_email">Correo electrónico: <input type="text" name="i_email" id="i_email"></label>
            <label for="i_phone">Celular: <input type="text" name="i_phone" id="i_phone"></label>
            <button type="submit" id="register-btn">Siguiente</button>
        </form>
        
    </div>
    <script src="../../public/js/navigation.js"></script>
    <script src="../../public/js/libraries/glider.min.js"></script>
    <script src="../../public/js/sliders/categories.js"></script>
    <script src="../../public/js/collapsable.js"></script>
</body>
</html>