<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Visita</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header>
        <%- include("components/navbar.ejs")%>
    </header>
    <article>                                                                                 
        <div class="center">
            <h2>Datos de Visita</h2>
            <form method="post">
                <label for="jh_name">Nombres Jefe de Hogar<input type="text" name="jh_name" id="jh_name"></label>
                <label for="jh_last_name">Apellidos Jefe de Hogar<input type="text" name="jh_last_name" id="jh_last_name"></label>
                <label for="jh_rut">Rut Jefe de Hogar<input type="text" name="jh_rut" id="jh_rut"></label>
                <label for="jh_phone">Número de contacto<input type="text" name='jh_phone' id="jh_phone"></label>
                <label for="jh_email">Correo electrónico<input type="text" name='jh_email' id="jh_email"></label>
                <label for="jh_adress">Dirección<input type="text" name='jh_adress' id="jh_adress"></label>
                <label for="jh_commune">Comuna<input type="text" name="jh_commune" id="jh_commune"></label>
                <label for="">Tipo de vivienda</label><br>
                <select name="slc_livingplace" id="slc_livingplace">
                    <option value="casa">Casa</option>
                    <option value="departamento">Departamento</option>
                </select>
                <button type="submit">Registrar visita</button>
            </form>
        </div>
    </article>
</body>
</html>