<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  
  <body>
  <h1>Agregar Usuario</h1>

  <form action="/users/add" method="POST">
    <label for="rut">RUT:</label>
    <input type="text" name="rut" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required>

    <label for="correo">Correo:</label>
    <input type="email" name="correo" required>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasena" required>

    <label for="rol">Rol:</label>
    <input type="text" name="rol" required>

    <button type="submit">Agregar Usuario</button>
  </form>
</body>
</html>
