<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Visita</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header>
        <%- include("./navbar") -%>      
    </header>
    <article>
        <div class="center">
            <h2>Datos</h2>
            <form method="post">
                <label for="nombreJH">Nombre del jefe(a) de hogar <input type="text" name="nombreJH" id="nombreJH"></label>
                <label for="rutJH">Rut<input type="text" name="rutJH" id="rutJH"></label>
                <label for="celularJH">Nro. de contacto <input type="text" name='celularJH' id="celularJH"></label>
                <label for="comunaV">Comuna <input type="text" name="comunaV" id="comunaV"></label>
                <label for="direccionV">Direccion <input type="text" name="direccionV" id="direccionV"></label>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </article>
</body>
</html>