<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Visita</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <header>
        <%- include("components/navbar.ejs")%>      
    </header>
    <article>
        <div class="center">
            <h2>Datos</h2>
            <form action="" method="post">
                <label for="jefeHogar">Nombre del jefe(a) de hogar <input type="text" name="" id="jefeHogar"></label>
                <label for="ContactoJH">Nro. de contacto <input type="number" id="ContactoJH"></label>
                <label for="ComunaV">Comuna <input type="text" name="" id="ComunaV"></label>
                <label for="DireccionV">Direccion <input type="text" name="" id="DireccionV"></label>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </article>
</body>
</html>