<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesi贸n</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title"></h1>
</header>
    <div class="center">
        <h2>Situaci贸n Econ贸mica</h2>
        <form action="/economic_situation/<%= homeId %>/<%= rutIntegrante %>" method="POST">
            <label for="i_incomes">Ingresos: <input type="text" name="i_incomes" id="i_incomes"></label>
            <label for="i_jobtype">Tipo empleo: <input type="text" name="i_jobtype" id="i_jobtype"></label>
            <label for="i_unemployment">Desempleo: <input type="text" name="i_unemployment" id="i_unemployment"></label>
            <label for="i_prevision">Previsi贸n: <input type="text" name="i_prevision" id="i_prevision"></label>
            <button type="submit" id="register-btn">Siguiente</button>
        </form>
        
    </div>
</body>
</html>