<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <%- include("components/navbar.ejs")%>
    </header>
    <article>
        <div class="center">
            <h2>Actualizar Datos de Hogar</h2>
            <br>
            <p>"Por favor ingrese los nuevos datos del hogar que deseas actualizar"</p><br>
            <form action="/edit_visit/<%= homeId %>" method="POST">
                <label for="jh_name">Nombres Jefe de Hogar<input type="text" name="jh_name" id="jh_name"></label>
                <label for="jh_last_name">Apellido Jefe de Hogar<input type="text" name="jh_last_name"
                        id="jh_last_name"></label>
                <label for="jh_rut">Rut Jefe de Hogar<input type="text" name="jh_rut" id="jh_rut"
                        placeholder="Ingrese rut sin puntos ni guion, si termina en “K” cámbielo por 1"></label>
                <label for="jh_phone">Número de contacto<input type="text" name='jh_phone' id="jh_phone"></label>
                <label for="jh_email">Correo electrónico<input type="text" name='jh_email' id="jh_email"></label>
                <label for="jh_address">Dirección<input type="text" name='jh_address' id="jh_address"></label>
                <label for="jh_commune">Comuna<input type="text" name="jh_commune" id="jh_commune"></label>
                <button type="submit">Actualizar hogar</button>
            </form>
            <a href="/visit_history"><button>Volver</button></a>
        </div>
    </article>

    <!-- <%- include("components/footer.ejs")%> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>