<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  
  <body>
  <h1>Habilitar Usuario</h1>

  <p>¿Estás seguro de que deseas habilitar el usuario con RUT: <%= usuario.rut %>?</p>

  <form action="/users/enable/<%= usuario.rut %>" method="POST">
    <button type="submit">Habilitar</button>
    <a href="/users">Volver</a>
  </form>
</body>
</html>
