<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title">Situación familiar</h1>
</header>
    <div class="center2">
        <h2>Situacion familiar</h2>
        <a href="add_family_member"><button type="submit" id="register-btn">Agregar integrante</button></a>
        <a href="bills"><button type="submit" id="register-btn">Continuar</button></a>
    </div>
</body>
</html>