<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
    <div class="center3">
        <h2>Integrantes</h2>
        <a href="/add_family_member/<%= homeId %>"><button type="submit" id="register-btn">Agregar integrante</button></a>
        <a href="/bills/<%= homeId %>"><button type="submit" id="register-btn">Continuar</button></a>
        <a href="/visit_available"><button type="submit" id="register-btn">Volver</button></a>
    </div>
</body>
</html>