<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title">Jefe Hogar</h1>
</header>
    <div class="center">
        <h2>Situación Salud Familiar</h2>
        <form action="/#" method="post">
            <label for="jh_age">Nombre: <input type="text" name="jh_age" id="jh_age"></label>
            <label for="jh_age">Tipo enfermedad: <input type="text" name="jh_age" id="jh_age"></label>
            <label for="jh_birthdate">Discapacidad: <input type="text" name="jh_birthdate" id="jh_birthdate"></label>
            <label for="jh_rut">Observacion: <input type="text" name="jh_rut" id="jh_rut"></label>
            <button type="submit" id="register-btn">Siguiente</button>
        </form>
    </div>
</body>
</html>