<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title">Jefe Hogar</h1>
</header>
    <div class="center">
        <h2>Situación Salud</h2>
        <form action="/health_situation/<%= homeId %>/<%= rutIntegrante %>" method="POST">
            <label for=""></label>
            <select name="i_disability" id="i_disability">
                <option value="">Seleccionar...</option>
                <option value="tea">TEA</option>
                <option value="visual">Visual</option>
                <option value="auditiva">Auditiva</option>
                <option value="motora">Motora</option>
                <option value="intelectual">Intelectual</option>
                <option value="psicosocial">Psicosocial</option>
                <option value="otra">Otra</option>
              </select>
            <label for="i_observation">Observacion: <input type="text" name="i_observation" id="i_observation"></label>
            <button type="submit" id="register-btn">Siguiente</button>
        </form>

    </div>
</body>
</html>