<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title"></h1>
</header>
    <div class="center  ">
        <h2>Vivienda</h2>
        <form action="/#" method="post">
            <label for="home_situation">Situación: <input type="text" name="home_situation" id="home_situation"></label>
            <label for="social_rel">Relaciones sociales: <input type="text" name="social_rel" id="social_rel"></label>
            
        </form>
        <a href="bills"><button type="submit" id="register-btn">Volver</button></a>
        <a href="spiritual_needs"><button type="submit" id="register-btn">Siguiente</button></a>
    </div>
</body>
</html>