<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wecome</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header class="header">
    <h1 class="title">Welcome to Node.js web skeleton app!</h1>
  </header>
  <main class="main">
    <div class="img-container">
      <img class="logo" src="/assets/nodejs-icon.svg" alt="nodejs logo">
    </div>
    <code class="code">Your app is running successfully!</code>
  </main>
</body>

</html>