<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Asisstentes sociales</title>
</head>
<body>
    <header>
        <menu type="context" style="display: float;">
            <button>menu</button>
            <h1>asistentes sociales</h1>
        </menu>       
    </header>
    <article style="margin: auto; width: 50%; padding: 10px; display: float; justify-content: center; background-color: yellow;">
        <a href="http://google.com"><button style="width: 90%; margin: 10px 10px 5px 10px;">crear visita</button></a>
        <a href="https://www.google.com/search?client=opera&q=patata&sourceid=opera&ie=UTF-8&oe=UTF-8"><button style="width: 90%; margin: 5px 10px 10px 10px;">asignar visita</button></a>
    </article>
    
    <!--
    <% arr.forEach( (name) => {%>
        <div> <%- name %> </div>
    <% }) %>
    -->
</body>
</html>