<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>
<header class="header">
    <h1 class="title"></h1>
</header>
    <div class="center">
        <h2>Beneficios estatales</h2>
        <form action="/state_benefits/<%= homeId %>/<%= rutIntegrante %>" method="POST">
            <label for="be_desc">Ingresar beneficios estatales: <input type="text" name="be_desc" id="be_desc"></label>
            <button type="submit" id="register-btn">Siguiente</button>
        </form>
    </div>
</body>
</html>