<footer class="footer">
    <div class="footer__container">
        <section class="footer__section">
            <h1 class="footer__logo"><span class="footer__logo--draw">+</span> VisitApp</h1>
        </section>
        <div class="footer__line"></div>
        <p class="footer__group">Copyright &copy; 2023 Grupo 5 - Portafolio de Título</p>
    </div>
</footer>