<nav class="nav">
    <div class="nav__container">
        <a href="/" class="nav__link-logo" style="text-decoration: none;"><h1 class="nav__logo"><span class="nav__logo--draw">•</span> VisitApp</h1></a>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Inicio</a>
            </li>

            <li class="nav__item nav__item--msc">
                <a href="/login" class="btn--g nav__btn">Iniciar Sesi&oacute;n</a>
            </li>
        </ul>

        <div id="nav__menu">
            <img src="/assets/icons/menu.svg" alt="Menu" id="menu__img">
        </div>
    </div>
</nav>