<nav class="nav">
    <div class="nav__container">
        <a href="/" class="nav__link-logo" style="text-decoration: none;"><h1 class="nav__logo"><span class="nav__logo--draw">•</span> VisitApp</h1></a>
        <ul class="nav__list">
                <% if (typeof rol !== 'undefined' && rol === 'admin') { %>
                    <li class="nav__item">
                        <a href="/menu_add_visit" class="nav__link">Menu visitas</a>
                    </li>
                <% } %>
                <% if (typeof rol !== 'undefined' && rol === 'admin') { %>
                    <li class="nav__item">
                        <a href="/register" class="nav__link">Registrar usuario</a>
                    </li>
                <% } %>
                <% if (typeof rol !== 'undefined' && rol === 'admin') { %>
                    <li class="nav__item">
                        <a href="/register" class="nav__link">Gestionar usuarios</a>
                    </li>
                <% } %>
                <% if (typeof rol !== 'undefined') { %>
                <li class="nav__item">
                    <a href="/" class="nav__link">Inicio</a>
                </li>
                <% } %>
                <% if (typeof rol !== 'undefined' && rol === 'usuario') { %>
                    <li class="nav__item nav__item--msc">
                            <a href="/logout" class="nav__link">Historial visitas</a>
                    </li>
                <% } %>
                <% if (typeof rol !== 'undefined' && rol === 'usuario') { %>
                    <li class="nav__item nav__item--msc">
                            <a href="/visit_available" class="nav__link">Visitas</a>
                    </li>
                <% } %>
                <% if (typeof rol == 'undefined') { %>
                <li class="nav__item nav__item--msc">
                        <a href="/login" class="btn--g nav__btn">Iniciar Sesi&oacute;n</a>
                </li>
                <% } %>
                <% if (typeof rol !== 'undefined') { %>
                <li class="nav__item nav__item--msc">
                        <a href="/logout" class="btn--g nav__btn">Cerrar Sesi&oacute;n</a>
                </li>
                <% } %>

        </ul>

        <div id="nav__menu">
            <img src="/assets/icons/menu.svg" alt="Menu" id="menu__img">
        </div>
    </div>
</nav>